        <footer>
        	<span class="copyright">&copy; Laura Crowe 2014</span> 
        	<ul class="social">
        		<li><a href="http://www.pinterest.com/lauracrowe393/"><i class="fa fa-pinterest-square"></i></a></li>
        		<li><a href="https://twitter.com/ballauriena"><i class="fa fa-twitter-square"></i></a></li>
        		<li><a href="https://www.facebook.com/laura.crowe.393"><i class="fa fa-facebook-square"></i></a></li>
        		<li><a href="https://plus.google.com/u/0/+LauraCrowe88/posts"><i class="fa fa-google-plus-square"></i></a></li>
        		<li><a href="http://www.linkedin.com/in/lauraleecrowe/"><i class="fa fa-linkedin-square"></i></a></li>
        		<li><a href="https://github.com/ballauriena"><i class="fa fa-github-square"></i></a></li>
        	</ul>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="assets/js/main.js"></script>


    </body>
</html>