// ---------------------------------------------------------------------------
// Imports

@import "compass/css3";
@import "compass/layout/stretching";
@import "base";

/* $FONTS ------------------------------------------------------------------*/

@include font-face("goudy bookletter 1911", font-files("goudy_bookletter_1911-webfont.woff",
														"goudy_bookletter_1911-webfont.ttf", "goudy_bookletter_1911-webfont.svg"), "goudy_bookletter_1911-webfont.eot");

/* -------------------------------------------------------------------------*/
/* Layout */

.container {
	@include stretch;
	width: 100%;
	height: 650px;
	background: 
	  linear-gradient(
      rgba(65, 65, 65, 0.6), 
      rgba(65, 65, 65, 0.6)
    ),
    url(../images/laura.jpg) no-repeat;
    background-size: cover;
    font-family: "goudy bookletter 1911";
}

.title{
	width: 300px;
	float: right;
	padding: 45px;
	padding-bottom: 10px;
	font-size: 30px;
    color: #ffffcc;
    letter-spacing: 8px;
    text-align: center;
}

.title p{
	margin: 0px;
}

/*---------------------drop menu------------------------------*/
.arrow{
	border-radius: 10px;
	font-size: 20px;
}

.down{
	text-align: center;
}

.up{
	margin-left: 70px;
}

.arrow:hover{
	cursor: context-menu;
	color: #aaaaaa;
}

.menu{
	float: right;
	clear: both;
	width: 200px;
	color: #4d4d4d;
	letter-spacing: 15px;
	font-size: 18px;
	margin-right: 45px;
	padding: 0;
	background-color: #ffffcc;
	border-radius: 20px;
	border: 50px solid rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box; 
    background-clip: padding-box; 
}

.menu ul{
	list-style: none;
	padding: 20px;
}

.menu li{
	line-height: 50px;
}

.menu li:hover{
	letter-spacing: 1px;
	color: #aaaaaa;
	list-style-type: square;
	font-size: 40px;
	margin-left: 25px;
	cursor: pointer;
}

.hidden{
	display: none;
}



