/* $FONTS ------------------------------------------------------------------*/
@font-face {
  font-family: "goudy bookletter 1911";
  src: url('/assets/fonts/goudy_bookletter_1911-webfont.eot');
  src: url('/assets/fonts/goudy_bookletter_1911-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/goudy_bookletter_1911-webfont.woff') format('woff'), url('/assets/fonts/goudy_bookletter_1911-webfont.ttf') format('truetype'), url('/assets/fonts/goudy_bookletter_1911-webfont.svg') format('svg');
}

/* COLORS ------------------------------------------------------------------*/
/* STYLES------------------------------------------------------------------ */
/* line 21, ../scss/screen.scss */
.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: linear-gradient(rgba(65, 65, 65, 0.6), rgba(65, 65, 65, 0.6)), url(../images/laura.jpg) no-repeat;
  background-size: cover;
  font-family: "goudy bookletter 1911";
}

/* line 34, ../scss/screen.scss */
.title {
  width: 300px;
  float: right;
  padding: 45px;
  padding-bottom: 10px;
  font-size: 40px;
  color: #ffffcc;
  letter-spacing: 8px;
  text-align: center;
}

/* line 45, ../scss/screen.scss */
.title p {
  margin: 0px;
}

/* line 49, ../scss/screen.scss */
.small {
  font-size: 12px;
  color: #aaaaaa;
}

/* DROP MENU--------------------------------------------------------------*/
/* line 55, ../scss/screen.scss */
.arrow {
  border-radius: 10px;
  font-size: 20px;
}

/* line 60, ../scss/screen.scss */
.down {
  text-align: center;
}

/* line 64, ../scss/screen.scss */
.up {
  margin-left: 70px;
}

/* line 68, ../scss/screen.scss */
.arrow:hover {
  cursor: context-menu;
  color: #aaaaaa;
}

/* line 73, ../scss/screen.scss */
.menu {
  float: right;
  clear: both;
  width: 200px;
  color: #330033;
  letter-spacing: 15px;
  font-size: 18px;
  margin-right: 45px;
  padding: 0;
  background-color: #ffffcc;
  border-radius: 20px;
  border: 50px solid rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

/* line 89, ../scss/screen.scss */
.menu ul {
  list-style: none;
  padding: 20px;
}

/* line 94, ../scss/screen.scss */
.menu li {
  line-height: 50px;
}

/* line 98, ../scss/screen.scss */
.menu li:hover {
  letter-spacing: 1px;
  color: #aaaaaa;
  list-style-type: square;
  font-size: 40px;
  margin-left: 25px;
  cursor: pointer;
}

/* line 107, ../scss/screen.scss */
.hidden {
  display: none;
}

/*-----------------footer-----------------------------*/
/* line 112, ../scss/screen.scss */
footer {
  width: 100%;
  height: 150px;
  background: linear-gradient(to bottom, rgba(33, 0, 33, 0), #210021);
  bottom: 0;
  left: 0;
  position: fixed;
  font-family: "goudy bookletter 1911";
  color: #aaaaaa;
  letter-spacing: 3px;
  line-height: 250px;
}

/* line 125, ../scss/screen.scss */
.copyright {
  display: inline-block;
  float: left;
  margin-left: 50px;
}

/* line 131, ../scss/screen.scss */
.social {
  color: #aaaaaa;
  font-size: 40px;
  list-style: none;
  margin-top: -100px;
}

/* line 138, ../scss/screen.scss */
.social li {
  float: right;
  margin-right: 7%;
}

/* line 143, ../scss/screen.scss */
.social a {
  color: #aaaaaa;
}

/* line 147, ../scss/screen.scss */
.social a:hover {
  color: #ffffcc;
}
